<nav>
    <div class="nav-wrapper valign-wrapper grey darken-3 padding row">
        {{!-- <h1>something here</h1> --}}
    </div>
</nav>
<div class="container">

    <div class="row" style="display: flex; align-items: center; margin-top: 40px;">
        <div class="input-field col s8" style="">
            <i class="material-icons prefix">search</i>
            <input placeholder="Search..." id="tickerSearch" type="text" class="validate">
            <label for="first_name">Stock Ticker</label>
        </div>

        <button class="btn col col-offset-s1 s3" id="searchButton">search</button>
    </div>
    <h1 class="header center" id="bigTitle"></h1>
    <h6 class="grey-text center">Powered by FinViz</h6>
    <br>
    <hr>
    <br>
</div>
</div>
<div id="wrapper" class="container-fluid">
    <div class="row">
        <div class="container" id="articles" style=""></div>
        {{!-- <div class="col s3 m4 push-m1" id="comment" style="border: 2px solid rgb(95, 66, 109)"></div> --}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>